@use '../parital/variables' as v;
@use '../parital/mixins' as m;
@use '../parital/media-mixins' as media;

.menu {
    width: 90%;
    margin: auto;
    @include media.tablet {
      padding-bottom: 2em;
    }
    h1 {
      color: v.$color-primary;
      text-align: center;
      font-family: v.$font-accent;
      margin: 1em;
      font-size: 1em;
      @include media.tablet {
        font-size: 2.2em;
      }
      @include media.laptop {
        font-size: 3em;
      }
    }
    .menu-food-heading {
      background-color: v.$color-secondary;
      display: flex;
      align-content: center;
      margin-top: 0.7em;
      @include media.tablet {
        font-size: 1.8em;
        padding: 0.3rem 1rem;
      }
      @include media.laptop {
        font-size: 2.5em;
        padding: 0.3rem 1rem;
      }
      span {
        margin: 2px;
        color: #404040;
        font-family: v.$font-primary;
        font-weight: 900;
        font: italic;
        font-size: 0.6em;
        padding-right: 5px;
      }
    }
    .menu-food-subsection {
      margin-top: 10px;
      &.row1 {
        @include m.flex-between;
        gap: 10px;
        @include media.laptop {
          margin-top: 1.5em;
        }
      }
  
      &.row2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
  
        .food-card {
          &:first-child {
            grid-column: 1;
          }
  
          &:last-child {
            grid-column: 3;
          }
        }
      }
  
      .food-card {
        flex: 1;
        padding: 0.4em;
        text-align: center;
        background-color: v.$color-secondary;
        min-height: 2em; 

        @include m.flex-column;
        img {
          width: 100%;
          flex-grow: 1; 
          object-fit: contain; 
          
          @include media.tablet {
            max-height: 75%;
            padding-top: 2%;
          }

          @include media.laptop {
            max-height: 75%;
            padding-top: 5%;
            
          }
        }
        h3 {
          font-family: v.$font-primary;
          font-weight: bold;
          font-size: 0.1em;
          margin: 0;
          
          @include media.tablet {
            font-size: 0.7em;
          }
          
          @include media.laptop {
            font-size: 1.5em;
          }
        }
        .symbol-label {
          font-size: 5px;
          padding-top: 1em;
          display: flex;
          gap: 2px;
          font-family: v.$font-primary;
          @include media.tablet {
            font-size: 0.7em;
          }
          
          @include media.laptop {
            font-size: 0.9em;
          }
        }
      }
    }
  }