@use '../parital/variables' as v;
@use '../parital/mixins' as m;

.menu {
    width: 90%;
    margin: auto;
    h1 {
      color: v.$color-primary;
      text-align: center;
      font-family: v.$font-accent;
      margin: 10px;
      font-size: 1em;
    }
    .menu-food-heading {
      background-color: v.$color-secondary;
      display: flex;
      align-content: center;
      margin-top: 10px;
      span {
        margin: 2px;
        color: #404040;
        font-family: v.$font-primary;
        font-weight: bold;
        font: italic;
        font-size: 0.5em;
        padding-right: 5px;
      }
    }
    .menu-food-subsection {
      margin-top: 10px;
      &.row1 {
        @include m.flex-between;
        gap: 10px;
      }
  
      &.row2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
  
        .food-card {
          &:first-child {
            grid-column: 1;
          }
  
          &:last-child {
            grid-column: 3;
          }
        }
      }
  
      .food-card {
        flex: 1;
        padding: 5px;
        text-align: center;
        background-color: v.$color-secondary;
        height: 7em;
        @include m.flex-column;
        img {
          width: 100%;
        }
        h3 {
          font-family: v.$font-primary;
          font-weight: bold;
          font-size: 0.1em;
          margin: 0;
        }
        .symbol-label {
          font-size: 5px;
          padding-top: 1em;
          display: flex;
          gap: 2px;
        }
      }
    }
  }