@use '../parital/variables' as v;
@use '../parital/mixins' as m;
@use '../parital/media-mixins' as media;


.review {
    background-color: v.$color-primary;
    width: 100%;
    min-height: 13em;
    margin-top: 1em;
    @include media.tablet {
      min-height: 30em;
    }
    @include media.laptop {
      min-height: 40em;
    }
    h1 {
      font-family: v.$font-accent;
      text-align: center;
      color: whitesmoke;
      font-size: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin: 0;
      @include media.tablet {
        font-size: 2em;
      }
      @include media.laptop {
        font-size: 3em;
      }
    }
    .review-card {
      border: 1px solid white;
      width: 50%;
      min-height: 4em;
      padding-left: 0.3em;
      padding-right: 0.3em;
      @include media.tablet {
        width: 45%;
        padding: 1em;
        min-height: 7em;
        border: 2px solid white;
        
      }
      @include media.laptop {
        width: 45%;
        padding: 1em;
        min-height: 7em;
        border: 2px solid white;
        
      }
      .review-card-quote {
        display: flex;
        font-size: 6px;
        @include media.tablet {
          font-size: 0.9em;
          width: 98%;
          margin: auto;
        }
        @include media.laptop {
          font-size: 1.2em;
          width: 98%;
          margin: auto;
        }
        .review-card-words {
          p {
            font-family: v.$font-primary;
            font-weight: bold;
            @include media.tablet {
              font-size: 0.9em;
            }
            @include media.laptop {
              font-size: 0.9em;
            }
          }
        }
        .quote-left {
          margin-top: 6px;
          padding-right: 2px;
        }
        .quote-right {
          align-self: flex-end;
          margin-bottom: 1.5em;
        }
      }
      .review-card-name-date {
        @include m.flex-between;
        p {
          font-family: v.$font-primary;
          font-size: 6px;
          font-weight: 100;
          @include media.tablet {
            font-size: 0.9em;
          }
          @include media.laptop {
            font-size: 0.9em;
          }
        }
      }
    }
    .review-row1 {
      @include m.flex-center;
      gap: 10px;
      padding: 0px 30px;
      @include media.tablet {
        font-size: 1em;
      }
      @include media.laptop {
        font-size: 1em;
      }
    }
    .review-row2 {
      @include m.flex-center;
      padding: 0px 30px;
      margin-top: 10px;
    }
  }